@use '../../../../../styles/mixins' as *;
@use './styles/posts-card.scss';
@use './styles/posts-filters.scss';
@use './styles/posts-comments.scss';

.posts-page {
  @include flex-column(var(--space-lg));
  padding: var(--space-xxl) var(--space-lg);
  color: var(--color-on-surface);

  @include mobile {
    padding: var(--space-lg) var(--space-sm);
  }
}
