@use '../../../../../styles/mixins' as *;
@use './styles/posts-card.scss';
@use './styles/posts-filters.scss';
@use './styles/posts-comments.scss';

.posts-page {
  @include flex-column(var(--space-lg));
  padding-block: var(--space-xxl);
  padding-inline: var(--layout-gutter);
  color: var(--color-on-surface);
  margin-inline: auto;
  width: min(100%, var(--layout-wide-width));

  @include mobile {
    padding-block: var(--space-xl);
    padding-inline: var(--layout-gutter-tight);
  }
}
