@use '../../../../../styles/mixins' as mixins;

:host {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: clamp(var(--space-lg), 4vw, var(--space-xxl));
  min-height: 100%;
}

.user-form {
  width: 100%;
}

.user-form__form {
  gap: var(--space-lg);
}

@include mixins.mobile {
  :host {
    padding: var(--space-lg);
  }
}
