<div class="posts-list">
  @for (post of posts(); track trackPostById($index, post)) {
    <div class="post-wrapper">
      <app-post-card
        [post]="post"
        [isDeleting]="isDeleting(post.id)"
        [comments]="commentsFor(post.id)"
        [commentsLoading]="commentsAreLoading(post.id)"
        [commentsPreviewCount]="commentsCountMap()[post.id]"
        [commentsLoaded]="commentsLoaded(post.id)"
        (delete)="deletePost.emit(post)"
        (toggleComments)="toggleComments.emit(post.id)"
        (commentCreated)="onCommentCreated(post.id, $event)"
        (commentUpdated)="onCommentUpdated(post.id, $event)"
        (commentDeleted)="onCommentDeleted(post.id, $event)"
        (edit)="onEditPost(post)"
        (viewAuthor)="onViewAuthor(post)"
        [authorName]="authorName(post)"
      ></app-post-card>
    </div>
  }
</div>
