<footer class="app-footer" data-app-section="true">
  <mat-divider class="app-footer__divider"></mat-divider>
  <div class="app-footer__inner app-container app-container--wide">
    <p class="app-footer__meta">
      <mat-icon svgIcon="lucide:sun" aria-hidden="true"></mat-icon>
      <span class="app-footer__text">
        <span class="app-footer__label">{{ 'footer.builtBy' | appTranslate }}</span>
        <span class="app-footer__author">Agata Di Calogero</span>
      </span>
    </p>
  </div>
</footer>
