<header class="app-navbar">
  <h1>NTT Data App</h1>
  <nav>
    @if (!isLogged) {
      <a routerLink="/login">Login</a>
    }
    @if (isLogged) {
      <a routerLink="/users" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        >Users</a
      >
      <a routerLink="/posts" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        >Posts</a
      >
    }
  </nav>
  <app-theme-toggle></app-theme-toggle>
  <!-- Show logout when user is authenticated -->
  @if (isLogged) {
    <button class="logout" (click)="logout()" aria-label="Logout">Logout</button>
  }
</header>
