<app-posts-view
  [searchForm]="store.searchForm()"
  [userOptions]="store.userOptions()"
  [loading]="store.loading()"
  [error]="store.error()"
  [posts]="store.posts()"
  [commentsCountMap]="store.commentsCountMap()"
  [userLookup]="store.userLookup()"
  [perPageOptions]="store.perPageOptions()"
  [currentPage]="store.currentPage()"
  [totalPages]="store.totalPages()"
  [currentPerPage]="store.currentPerPage()"
  [hasPagination]="store.hasPagination()"
  [deletingId]="store.deletingId()"
  [totalPosts]="store.totalPosts()"
  (createPost)="handleCreatePost()"
  (resetFilters)="handleResetFilters()"
  (deletePost)="handleDeletePost($event)"
  (editPost)="handleEditPost($event)"
  (viewComments)="handleViewComments($event)"
  (viewAuthor)="handleViewAuthor($event)"
  (changePage)="handleChangePage($event)"
  (changePerPage)="handleChangePerPage($event)"
  (retry)="handleRetry()"
></app-posts-view>
