<app-posts-view
  [searchForm]="searchForm"
  [userOptions]="userOptions"
  [loading]="loading"
  [error]="error"
  [posts]="posts"
  [commentsMap]="commentsMap"
  [commentsLoading]="commentsLoading"
  [userLookup]="userLookup"
  [perPageOptions]="perPageOptions"
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  [currentPerPage]="currentPerPage"
  [hasPagination]="hasPagination"
  [deletingId]="deletingId"
  [postsCount]="postsCount"
  (createPost)="handleCreatePost()"
  (resetFilters)="handleResetFilters()"
  (refresh)="handleRefresh()"
  (toggleComments)="handleToggleComments($event)"
  (deletePost)="handleDeletePost($event)"
  (editPost)="handleEditPost($event)"
  (commentCreated)="handleCommentCreated($event)"
  (commentUpdated)="handleCommentUpdated($event)"
  (changePage)="handleChangePage($event)"
  (changePerPage)="handleChangePerPage($event)"
></app-posts-view>
